:root {
    --spacing-half: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-8: 64px;
    --spacing-9: 72px;
    --spacing-10: 80px;
    --spacing-11: 88px;
    --spacing-12: 96px;
    --spacing-13: 104px;
    --spacing-14: 112px;
    --spacing-15: 120px;
    --spacing-16: 128px;
    --spacing-17: 136px;
    --spacing-18: 144px;
    --spacing-19: 152px;
    --spacing-20: 160px;

    --color-gray-50: #F4F0E0;
    --color-gray-200: #CBB99C;
    --color-gray-400: #A67C52;
    --color-gray-600: #3E2C1C;
    --color-gray-800: #1E1E1E;
    --color-accent: #2F5E3F;
}

/* Color Tokens */
.text-primary {
    color: var(--color-gray-50);
}

.text-secondary {
    color: var(--color-gray-200);
}

.text-invert {
    color: var(--color-gray-800);
}

.text-accent {
    color: var(--color-accent);
}

.bg-primary {
    background-color: var(--color-gray-800);
}

.bg-secondary {
    background-color: var(--color-gray-600);
}

.bg-invert {
    background-color: var(--color-gray-50);
}

.bg-accent {
    background-color: var(--color-accent);
}

/* Border Tokens */
.border-primary {
    border: 2px solid var(--color-gray-800);
}

.border-secondary {
    border: 2px solid var(--color-gray-50);
}

.border-radius-sm {
    border-radius: var(--spacing-1);
}

.border-radius-md {
    border-radius: var(--spacing-2);
}

.border-radius-lg {
    border-radius: var(--spacing-3);
}

.border-radius-xl {
    border-radius: var(--spacing-4);
}

body {
    background-color: var(--color-gray-800);
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

.boldest {
    font-weight: 800;
}