.button-primary {
    width: 141px;
    height: 55px;
    cursor: pointer;
    border: none;
    z-index: 2;
}

.button-secondary {
    width: 141px;
    height: 55px;
    background: none;
    cursor: pointer;
    transition: background-color 0.2s ease, border 0.2s ease;
}

.button-secondary:hover {
    background-color: var(--color-gray-600);
    border: 3px solid var(--color-gray-400);
}